@charset "UTF-8";
.carousel-inner{
width:86%; 
height:400px; 
margin : 0px auto; 
overflow: hidden		
}
.carousel-control-prev{
	margin : 0px 0px 0px 20px;
}
.carousel-control-next{
	margin : 0px 20px 0px 0px;
}
.hm_managerdetail h2{
	text-align: center;
	margin : 30px 0px;
}
.hm_managerdetail p{
	text-align: center;
}
address{
	margin:50px 0px;
	text-align:center;
}
.card-title{
	text-align: center;
}
.card-text{
	text-align: center;
}
