body
{
 margin : 0px auto;
}
@font-face{
   font-family: '10X10';
   src: url("http://localhost:9080/projectvinyl/font/10X10_1.woff");
   
}
.hm_detailfirst h1{
	margin : 20px 0px 40px 0px;
	text-align: center;
	font-size : 50px;
	/* font-weight: bolder; */
	font-family: 'Crimson Text', serif;
}
.hm_detailfirst h6{
	text-align: center;
	font-weight: bolder;
	font-family:"10X10";
}
.hm_wrap
{
  margin:50px auto 0 auto;
  width:100%;
  display:flex;
  align-items:space-around;
  max-width:1200px;
}
.hm_tile
{
  width:380px;
  height:380px;
  margin:10px;
  background-color:#99aeff;
  display:inline-block;
  background-size:cover;
  position:relative;
  cursor:pointer;
  transition: all 0.4s ease-out;
  box-shadow: 0px 35px 77px -17px rgba(0,0,0,0.44);
  overflow:hidden;
  color:white;
  font-family:'Roboto';
  
}
.hm_tile img
{
  height:100%;
  width:100%;
  position:absolute;
  top:0;
  left:0;
  z-index:0;
  transition: all 0.4s ease-out;
}
.hm_tile .hm_text
{
  z-index:99;
  position:absolute;
  padding:30px;
  height:calc(100% - 60px);
  font-family: 'Noto Sans KR', sans-serif;
}
.hm_tile h1
{
 	font-family: 'Crimson Text', serif;
 	font-size:45px;
  font-weight:300;
  margin:0;
  text-shadow: 2px 2px 10px rgba(0,0,0,0.3);
}
.hm_tile h2
{
		font-family: 'Crimson Text', serif;
  font-weight:100;
  margin:20px 0 0 0;
  font-style:italic;
   transform: translateX(200px);
}
.hm_tile p
{
  font-weight:300;
  margin:20px 0 0 0;
  line-height: 25px;
  opacity:0;
  transform: translateX(-200px);
  transition-delay: 0.2s;
}
.hm_animate-text
{
	
  opacity:0;
  transition: all 0.6s ease-in-out;
}

.hm_tile:hover
{
  background-color:#99aeff;
box-shadow: 0px 35px 77px -17px rgba(0,0,0,0.64);
  transform:scale(1.05);
}
.hm_tile:hover img
{
  opacity: 0.2;
}
.hm_tile:hover .hm_animate-text
{
  transform:translateX(0);
  opacity:1;
}
 .hm_dots
{
  position:absolute;
  bottom:20px;
  right:30px;
  margin: 0 auto;
  width:30px;
  height:30px;
  color:currentColor;
  display:flex;
  flex-direction:column;
  align-items:center;
  justify-content:space-around;
  
}

.hm_dots span
{
    width: 5px;
    height:5px;
    background-color: currentColor;
    border-radius: 50%;
    display:block;
  opacity:0;
  transition: transform 0.4s ease-out, opacity 0.5s ease;
  transform: translateY(30px);
 
}

.hm_tile:hover span
{
  opacity:1;
  transform:translateY(0px);
}

.hm_dots span:nth-child(1)
{
   transition-delay: 0.05s;
}
.hm_dots span:nth-child(2)
{
   transition-delay: 0.1s;
}
.hm_dots span:nth-child(3)
{
   transition-delay: 0.15s;
}

.hm_detailtwice h3{
	margin : 100px 0px 0px 165px;
	font-weight: bolder;
		font-family:"10X10";
}
.hm_detailtwice h3:hover{
	color:rgba(0,153,255,0.6);
	
}


.card-title{
	text-align: center;
}
.card-title{
   font-family: '10X10';
	
}
.card-text{
	text-align: center;
	   font-family: '10X10';
} 
.card-body a{
	   font-family: '10X10';
}


