@charset "UTF-8";
body{
	margin: 0px auto;
}

.hm_h1mg{
	text-align: center;
	margin : 40px;

}

.hm_searchmg{
	position: relative;
	left: 500px;
	background-color: rgba(0,153,255,0.6);
	color:rgb(255,255,255);
	font-size : 13px;
	padding:5px 15px;
	border: 1px  transparent;
	border-radius: 15px;
	margin : 20px;s
	
}
.form-control{
	width:200px;
	margin : 20px auto;
}

.table-info {
	height: 10px;

	
}
