@charset "UTF-8";
body{
	margin: 0px auto;
}

.hm_uploadfirst h2{
	
text-align: center;
font-weight: bolder;
margin: 60px 0px 60px;
}
input[type=submit]{
	position: relative;
	left: 40%;
	background-color: rgba(0,153,255,0.6);
	color:rgb(255,255,255);
	font-size : 12px;
	padding:10px 20px;
	border: 1px  transparent;
	border-radius: 15px;
	margin: 50px 20px 0px 20px;
		
}
input[type=reset]{
	position: relative;
	left: 38%;
	background-color: rgba(0,153,255,0.6);
	color:rgb(255,255,255);
	font-size : 12px;
	padding:10px 20px;
	border: 1px  transparent;
	border-radius: 15px;
	margin: 50px 20px 0px 20px;
	
}
textarea.form-control{
	
	height:250px;
}
#addon-wrapping{
	width:110px;
	background-color : rgba(0,153,255,0.6);
	color : white;
	font-weight: bold;
}
	
#basic-addon1{
	width:110px;
	background-color : rgba(0,153,255,0.6);
	color : white;
	font-weight: bold;	
}
span#inputGroupFileAddon01.input-group-text{
	width:110px;
	background-color : rgba(0,153,255,0.6);
	color : white;
	font-weight: bold;	
}
