@charset "UTF-8";
body{
        margin: 0px auto;
}
.hs_question_detaildiv{
	margin: 0px auto;
	width: 100%;
}
.hs_question_detaildiv ul{
	margin-left: -20px;
}
.hs_question_detaildiv ul li{
	list-style: none;
}
.hs_question_detail_qa{
	color: rgb(0, 153, 255);
	font-size: 12px;
	font-weight : 800;
	text-decoration: underline;
}
.hs_question_detail_qamname{
	font-weight: 800;
}
.hs_question_detail_qaimg{
	margin : 30px 22px;
	width: 95%;
}
.hs_question_divline{
	width: 100%;
    height: 1px;
    background-color: rgb(224, 224, 224);
    margin: 30px 0px 10px;;
}
.hs_question_divbtn{
	padding: 5px 20px;
	border-radius: 5px;	
	border: 1px transparent;
	font-weight : 900;
	font-size : 15px;
	color : white;
	background-color: rgba(0, 153, 255, 0.7);
}
.hs_question_answer{
	float:right;
	width :96%;
	border: 1px solid #757575;	
}
#hs_answer{
	width : 93%;
    border: 1px solid white;
}