@charset "UTF-8";
 body{
        margin: 0px auto;
    }
/* header  */
.hs_header_top{
    margin-top:10px;
    width: 100%;
} 
/*  홈드림 */
#hs_header_h1{
    font-weight : 900;
    font-size: 33px;
    text-decoration: none;
    color: #222;
    padding-right: 20px;
}
/* 커뮤니티,스토어 카테고리  */
.hs_header_hc{
    font-weight : 700;
    font-size: 18px;
    text-decoration: none;
    color: #222;
    padding-right: 20px;
}
.hs_header_hc:hover{
    color: rgb(0, 153, 255);
    text-decoration: none;
} 
/* 전체검색 */
.hs_header_search{
   position:relative;
   bottom:33px;
   left:680px;
   width: 250px;
   border: 1px solid rgb(224,224,224);
}
#hs_mainsearch{
    padding: 5px;
    border: 1px  transparent;
    width: 85.7%;
    color: rgb(127, 127, 127);
    font-size: 13px;
}
/* 카트  로그인 회원가입*/
.hs_header_cartlogin{
    position : relative;
    bottom:62px;
    float: right;
}
.hs_header_cartlogin a{
    font-weight : 700;
    font-size: 15px;
    text-decoration: none;
    color: rgb(127, 127, 127);
}
.hs_header_cartlogin a:hover{
    color: rgb(0, 153, 255);
}
/* header line,nav div 로 묶은거 */
.hs_header_bottom{
    position: relative;
    bottom: 25px;
}
/* header nav line */
.hs_header_line{
    width: 100%;
    height: 1px;
    background-color: rgb(224,224,224);
    margin: 10px 0px;
}
.hs_header_nav a{
	font-weight : 700;
    color:#222;
    text-decoration: none;
    font-size: 13px;
    padding-right: 10px;
}
.hs_header_nav a:hover{
    color: rgb(0, 153, 255);
    text-decoration: none;
}
/* .hs_header_nav a:visited {
	color: rgb(0, 153, 255);
    text-decoration: none;
} */