@font-face{
   font-family: '10X10';
   src: url("http://localhost:9080/projectvinyl/font/10X10_1.woff");
   
}

body{
	
	font-family:"10X10";
}

.table{
	text-align:center;
}

.yi_admin_titlediv{
	margin-top:0px;
	width: 100%;
	background-color: rgba(224,224,224,0.5);
	padding:70px 50px;
	margin-bottom: 30px;
}	

.yi_admin_searchbox{	position:relative;
	left:202px;
    width: 60%;	
    background-color:white;
    border: 1px solid #757575;
    border-radius: 5px;
    }
    
.yi_adminsearch_searchop{
	width :13%;
	border: 1px transparent;
	padding: 5px;
	border-radius: 5px;
}
#yi_adminsearchtxt{
	width :81%;
	padding: 5px;
	border: 1px transparent;
	border-radius: 5px;	
}

.yi_modifybtn{
	margin-right:5%;
	margin-bottom:3%;
    float:right;
}


.yi_mypagelogo{
	font-weight: 600;
}

.yi_accordion-inside-title{
	font-weight: 600;
	margin-left: 3%;
	margin-top: 2%;
	
}
.yi_orderguide{
	padding-left:3%;
	padding-right:3%
	padding-top:5%;
	padding-bottom:5%
	margin:5%;
	background-color: #BBDEFB;
 
}

.yi_orderdetailTitle{
	margin-top:-2%;
	font-weight:600;
}

.yi_orderdetail-location{
	margin-left:10%;
	font-weight:600;
	
}

.yi_orderdetail-item{
	text-align:center;
	font-weight:600;
	
}

.yi_ordercancelbtn{
	margin-top:1%;
	margin-left:45%;
}

.yi_backToOrderlist a{
    font-weight : 700;
    font-size: 15px;
    text-decoration: none;
    color: #222;
    float:right;
    margin-right:5%;
    margin-top: 1%;
}
.yi_backToOrderlist a:hover{
    color: rgb(0, 153, 255);
    text-decoration: none;
}