@font-face{
	font-family: NanumGothic;
	src : local("NanumGothic"),
	url("../font/NanumGothic.woff");
	
}
@font-face{
	font-family: NanumSquare_acB_1;
	src : local("NanumSquare_acB_1"),
	url("../font/NanumSquare_acB_1.woff");
	
}
@font-face{
   font-family: '10X10';
   src: url("http://localhost:9080/projectvinyl/font/10X10_1.woff");
   
}

body{
	
	font-family:"10X10";
}

.juso{
	margin-top: 3%;
}
label{
	font-weight:bold;
	margin-top:1%;
}
.submit-btn{
	margin-top: 3%;
}
.agreetext{
	margin-top: -3%;
}