@font-face{
   font-family: '10X10';
   src: url("http://localhost:9080/projectvinyl/font/10X10_1.woff");
   
}

body{
	
	font-family:"10X10";
}

.yi_question_titlediv{
	margin-top:0px;
	width: 100%;
	background-color: rgba(224,224,224,0.5);
	padding:70px 50px;
	margin-bottom: 30px;
}	

.yi_questionsearch_searchbox{	position:relative;
	left:202px;
    width: 60%;	
    background-color:white;
    border: 1px solid #757575;
    border-radius: 5px;
    }
    
.yi_questionsearch_searchop{
	width :13%;
	border: 1px transparent;
	padding: 5px;
	border-radius: 5px;
}
#yi_questionsearchtxt{
	width :81%;
	padding: 5px;
	border: 1px transparent;
	border-radius: 5px;	
}